
$purple-weak: #e2b8f5;
$purple-hard: #997ec4;
$border: #b2b8c2;

* {
  box-sizing: border-box;
  font-family: Manjari;
  transition: all .4s;
}

a {
  text-decoration: none;
  color: $purple-weak;
  &:hover {
    color: $purple-hard;
  }
}

.recordList {
  width: 100%;
  .record {
    display: flex;
    .left, .right {
      flex-grow: 1;
    }
    .left {
      text-align: center;
      vertical-align: center;
      background: #ebe2e1;
    }
    .right {
      display: flex;

      button {
        margin: 0 0 0 20px;
        flex-grow: 1;
        width: 30%;
      }
    }
  }
}

.eventBoxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: stretch;
  .eventBoxContainer {
    padding: 29px 10px;
    width: 30%;
    .eventBox {
    //  border: 1px solid #d0d9db;
    background-color: #f6f5f7;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      padding: 3rem 2rem;
      img {
        align-self: center;
        border-radius: 50%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .eventBoxes {
    .eventBoxContainer {
      width: 100%;
    }
  }
  .block.signUpContainer .signUp {
    .quiz {
      width: 100%;
    }
    padding: 10px;
  }
  .block {
    padding: 2em;
    text-align: center;
    .signInOptions, .signUpForm {
      width: 100%;
    }
    .feed {
      padding: 20px;
    }
  }
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #7cadfc;
  &.signUpContainer {
    overflow-x: hidden;
  }
}

.block.eventsPage, .block.signUpContainer {
  height: initial;
  min-height: 100vh;
}

.lineChartContainer {
  margin-bottom: 30px;
  width: 100%;
}

.feed {
  padding: 3rem;
  height: 100%;
  width: 80%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  button {
    width: 85%;
  }
}

.signUpContainer {
  position: relative;
  .signUp {
    position: absolute;
    display: flex;
    justify-content: center;
    min-height: 70%;
    width: 100%;
    background: white;
    .quiz {
      display: flex;
      align-items: center;
      width: 700px;
      .question {
        height: 100%;
        animation: fadeInRight 1s;
        width: 100%;
        &.fadeOutLeft {
          animation: fadeOutLeft .3s;
        }
        .questionContent {
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: stretch;
          flex-wrap: wrap;
          .questionSection {
            max-width: 100%;
            display: flex;
            justify-content: center;
            padding: 1rem;
            flex-grow: 1;
            flex-direction: column;
            align-items: stretch;
          }
          width: 100%;
          .highlightedSection {
            background-color: $purple-weak;
            padding: 12px;
            text-align: center;
            margin-bottom: 1rem;
          }
          .formGroup {
            display: flex;
            align-items: stretch;
            * {
              margin-bottom: 0;
            }
            select {
              flex-grow: 3;
              border: 1px $border solid;
              border-radius: 0;
            }
            input {
              flex-grow: 10;
            }
            span {
              flex-grow: 1;
              border: 1px $border solid;
              padding: 10px;
              display: flex;
              padding: 15px;
            }
            margin-bottom: 2rem;
            * {
              border-radius: 0;
            }
            *:first-child {
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }
            *:last-child {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
          .sliderContainer {
            margin-bottom: 2rem;
          }
          &.slider {
            .questionTitle {
              text-align: center;
            }
          }
          .questionTitle {
            margin-bottom: 2rem;
            font-size: 120%;
          }
          .questionSubtitle {
            margin-bottom: .5rem;
          }
        }
      }
    }
  }
}

input, button, select {
  margin-bottom: 2rem;
  padding: 15px 6px;
}

input[type="text"], input[type="password"], input[type="number"], select {
  background-color: white;
  border: 1px $border solid;
  border-radius: 5px;
  &:focus {
    border: 1px $border solid;
    outline: none;
  }
  &:link {
    border: 1px $border solid;
    outline: none;
  }
  &:active {
    border: 1px $border solid;
    outline: none;
  }
  &:visited {
    border: 1px $border solid;
    outline: none;
  }
}

input[type="number"] {
  text-align: right;
}

input[type='submit'], button {
  border-radius: 0;
  border: none;
  color: #434747;
  outline: none;
  background: $purple-weak;
  &:hover {
    background-color: $purple-hard;
    color: white;
    border: none;
    outline: none;
  }
  &:focus {
    border: none;
    outline: none;
  }
  &:link {
    border: none;
    outline: none;
  }
  &:active {
    border: none;
    outline: none;
  }
  &:visited {
    border: none;
    outline: none;
  }
}

.signUpForm {
  animation: fadeInRight 1s;
  align-items: center;
  display: flex;
  form {
    width: 100%;
  }
}

.signInOptions, .signUpForm {
  width: 400px;
  form {
    display: flex;
    flex-direction: column;
  }
}

@keyframes fadeOutLeft {
   0% {
      opacity: 1;
      transform: translateX(0);
   }
   100% {
      opacity: 0;
      transform: translateX(-40px);
   }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fixed-bottom {
    background-color: rgb(68, 27, 146);
    border-top: 1px solid #E7E7E7;
	text-align: center;
    padding: 0;
    left: 0;
    bottom: 0;
    height: 20vh;
    width: 80%
}

.bottom1 {
    background-color: rgb(146, 27, 27);
    position: relative;
    left: 0;
    bottom: 0;
    height: 20vh;
    width: 20%
}